@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --primary-color: #B5FFE9;
  --secondary-color: #CEABB1;
  --tertiary-light: #C5E0D8;
  --tertiary-dark: #444545;
}

*{
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  margin-top: 0;
}

.header{
   background-color: var(--secondary-color);
   text-align: center;

}

.header_title {
  text-align: center;
  font-size: 5rem;
  text-transform: uppercase;
  padding: 1rem 0rem;
  color: var(--tertiary-dark);
}

.intro{
  padding: 3rem;
  background-color: var(--tertiary-light);
}

.intro_text{
  text-align: center;

}